# SPDX-FileCopyrightText: 2015-2018 CERN.
# SPDX-License-Identifier: MIT

-e git+https://github.com/inveniosoftware/invenio-access.git#egg=invenio-access
-e git+https://github.com/inveniosoftware/invenio-accounts.git#egg=invenio-accounts
-e git+https://github.com/inveniosoftware/invenio-db.git#egg=invenio-db[versioning]
-e git+https://github.com/inveniosoftware/invenio-pidstore.git#egg=invenio-pidstore
-e git+https://github.com/inveniosoftware/invenio-records.git#egg=invenio-records
-e git+https://github.com/inveniosoftware/invenio-base.git#egg=invenio-base
